<!DOCTYPE html>
<html>
<head>

<title>Doctor Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="navbar">

<h2>Doctor Dashboard 👨‍⚕️</h2>

<div>
<a href="/logout">Logout</a>
</div>

</div>

<div class="container">

<h3>Patient Appointments</h3>

{% for a in appointments %}

<div class="card">

<b>Patient:</b> {{ a.patient }} <br>
<b>Date:</b> {{ a.date }}

<br><br>

<a href="/treat_patient/{{ a._id }}" class="btn">
Treat Patient
</a>

</div>

{% endfor %}

</div>

</body>
</html>