<!DOCTYPE html>
<html>
<head>

<title>Patient Dashboard</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<!-- Navbar -->
<div class="navbar">

<h2>Patient Dashboard 👤</h2>

<div>
<a href="/">Home</a>
<a href="/logout">Logout</a>
</div>

</div>

<!-- Main Container -->
<div class="container">

<a class="btn" href="/book_appointment">📅 Book Appointment</a>

<h3>Your Appointments</h3>

{% for a in appointments %}

<div class="card">

<b>Doctor:</b> {{ a.doctor }} <br>
<b>Date:</b> {{ a.date }} <br>

<b>Doctor Report:</b>
{% if a.report %}
{{ a.report }}
{% else %}
Not Available
{% endif %}

<br><br>

<b>Bill:</b>
{% if a.bill %}
₹{{ a.bill }}
{% else %}
Not Generated
{% endif %}

<br><br>

{% if a.payment_status == "Pending" %}
<a href="/pay_bill/{{ a._id }}" class="btn">💳 Pay Bill</a>
{% elif a.payment_status == "Paid" %}
<p>✅ Payment Done</p>
{% endif %}

<br>

<a href="/cancel_appointment/{{ a._id }}" class="btn-danger">❌ Cancel Appointment</a>

</div>

{% endfor %}

</div>

</body>
</html>