<!DOCTYPE html>
<html>
<head>

<title>Register</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<div class="card">

<h2>Register</h2>

<form method="POST">

<input type="text" name="name" placeholder="Name" required>

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<select name="role">

<option value="patient">Patient</option>
<option value="doctor">Doctor</option>

</select>

<button class="btn">Register</button>

</form>
<br>

<a href="/" class="btn">⬅ Back</a>
</div>

</div>

</body>
</html>